@include themeWrap {
  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .app-header {
      height: 64px;
      padding: 0 16px;
      display: flex;
      align-items: center;
    }

    .app-body {
      flex: 1;
      display: flex;
      //align-items: stretch;

      .app-left {
        width: 200px;
      }

      .app-right {
        flex: 1;
      }
    }

    .app-menu {
      width: 250px;

      .app-menu-content {
        .app-menu-group {
          .app-menu-group-title {
            color: plVar(colorPrimary);
          }

          .app-menu-item-wrapper {
            .app-menu-item {

            }
          }
        }
      }
    }

  }
}